<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zookeeper管理后台</title>

    <!-- Loading Bootstrap -->
    <link href="/static/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/vendor/codemirror.min.css" rel="stylesheet">
    <link href="/static/css/vendor/dracula.min.css" rel="stylesheet">
    <link href="/static/css/vendor/merge.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

</head>